// RESET
body{
    margin: 0;
}
// COLOR
$background_color: rgba(245, 241, 237, 1);
$main_color: rgba(69, 4, 12, 1);
$basic_font_size: 1em;


@mixin buttons{
    padding: 10px 40px;
    border-radius: 30px;
    text-align: center;
    margin: 4px 2px;
}


// TYPOGRAPHY

@mixin font-package{
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: $main_color; 
}

@mixin heading{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: $main_color;
}

body{
    background-color: $background_color;

    p{
        @include font-package();
    }

    h1{
        @include heading();
        font-size: $basic_font_size * 3;
        
    }

    h2{
        @include heading();
        font-size: $basic_font_size * 2;
    }

    h3{
        @include heading();
    }

    h4{
        color: $main_color;
        @include font-package();
        font-weight: bold;
    }
}

// LIST RESET
@mixin list-reset{
    ul{
        list-style-type: none;
    }

    a{
        color: $main_color;
        text-decoration: none;
    }
}

nav, .footer-nav{
    @include list-reset()
}

// BUTTONS
.btn{
    background-color: $main_color;
    @include font-package();
    @include buttons();
    color: $background_color;
}

.btn:hover{
    background-color: $background_color;
    color: $main_color;
    cursor: pointer;

}

.btn-beige{
    background-color: $background_color;
    @include font-package();
    @include buttons();
    color: $main_color;
}

.btn-beige:hover{
    background-color: $main_color;
    color: $background_color;
    cursor: pointer;
}


// FLEXBOX MAIN NAV
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.main-nav{
    flex: 0.8;

    ul{    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 5vw;
        padding: 0;
        font-size: 1.3em;
    }

    a{
        padding: 1em;
    }

    li:hover{
        text-decoration: underline;
    }
}

// FLEX IMAGES
.image-container{
    height: 25vw;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.text-over-image{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background-color: rgba(245, 241, 237, 0.5);
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

// GALLERY 
.gallery-container{
    margin: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery > div{
    flex: 1;
}

.gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

// RECOMMENDATIONS
.flex-recommendations{
    display: flex;
    justify-content: space-around;
}

.recommendations{
    text-align: center;
}

.dark-container{
    background-color: $main_color;
    padding: 3em;
    text-align: center;
    

    p{
        color: $background_color;
        font-style: italic;
    }
}


// NEWSLETTER
.newsletter{
    text-align: center;

    .input{
        @include font-package();
        @include buttons();
        text-align: left;
        color: $background_color;
        background-color: $main_color;
        border-color: $background_color;
    }

    p{
        font-style: normal;
    }

    h2{
        color: $background_color;
    }
}

// FOOTER
footer section{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

.footer-nav div h4:hover, .footer-nav div p:hover{
    text-decoration: underline;
}


.social-media{
    @include font-package();
    text-align: end;
    margin: 1em;
}

span{
    @include font-package();
}