// RESET
body{
    margin: 0;
}
// COLOR
$background_color: rgba(245, 241, 237, 1);
$main_color: rgba(69, 4, 12, 1);


// TYPOGRAPHY

@mixin font-package{
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $main_color; 
}

@mixin heading{
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}


// LIST RESET
@mixin list-reset{
    ul{
        list-style-type: none;
    }

    a{
        color: $main_color;
        text-decoration: none;
    }
}

nav, .footer-nav{
    @include list-reset()
}

// BUTTONS


// FLEXBOX MAIN NAV
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.main-nav{
    flex: 0.8;

    ul{    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 5vw;
        padding: 0;
    }

    a{
        padding: 1em;
    }

}

body{
    background-color: $background_color;

    p{
        @include font-package();
    }

    h1{
        @include heading()
    }
}

.image-container{
    max-height: 100px;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}